/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* Header styles */

header,main {
  max-width: 1080px;
}
header {
  padding: 40px;
}
header h1 {
    text-align: center;
    color: #4a5568;
    margin-bottom: 1rem;
    font-size: 2rem;
}

header label {
  border: 1px solid #f0abb5;
  display: block;
  padding: 20px;
  margin-right: 40px;
  border-radius: 10px;
}
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img_profile {
    width: 200px;
    border-radius: 100%;
    border: 1px solid #f0abb5;
    margin: 20px 20px 20px 0;
}

/* main content */
main {
  padding: 0 40px 40px;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    color: #333;
    background: #f0abb5;
}

/* Responsive design */
@media (max-width: 768px) {

    main {
        padding: 1rem;
    }
}